<div class="col-1 card sticky-top bg-transparent ps-2 mapTitles">
  <div class="d-flex flex-column pt-2 text-white">
    <ul class="nav flex-column text-light d-flex flex-column gap-2" id="mapTitlesList"></ul>
  </div>
</div>