---
layout: layouts/base.liquid
---

<nav class="page-header navbar">
  <div class="container-fluid">
    <a class="navbar-brand pe-2_5 text-white d-flex gap-2" href="/">
      <img
        src="/img/metadome.png"
        alt=""
        class="mb-1"
        height="45"
        width="45">
      <p class="my-auto">
        Documentation Metarisc
      </p>
    </a>
    </button>
  </div>
</nav>

<main class="text-light p-0">
  {{ content }}
</main>