---
layout: layouts/sidebar.liquid
templateClass: tmpl-post
---
<div class="bg-gray">
  <div class="row post">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="mb-4">
        {{ content }}
      </div>
      {% assign pageUrl = page.url | remove_last: '/' %}
      {% render "navigationButtons"
        , list: docs_dev.items
        , url: pageUrl %}
    </div>
    <div class="col-2"></div>
  </div>
</div>