---
layout: layouts/sidebar.liquid
---

<div class="row">

  <!-- Contenu de l'article -->
  <div class="col-10 post">
    <div class="mb-4">
      {{ content }}
    </div>
  </div>

  <!-- Liens d'accès rapide au post -->
  <div class="col-2">
    <div class="mt-4 mb-4">
      {% render "mapTitles" %}
    </div>
  </div>

</div>

<!-- Cartes de navigation (précédent et suivant) -->
{% assign pageUrl = page.url | remove_last: '/' %}
{% render "navigationButtons", list: docs_dev.items, url: pageUrl %}