---
layout: layouts/home.liquid
---

{% assign current_page =  page.url | remove_last: '/' %}

<div class="page-wrapper">
    
  <nav class="navbar navbar-main">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.svg" alt="Metarisc" width="40" height="40">
        <span class="fs-3 fw-bold" style="vertical-align: middle">METARISC</span>
        <span class="badge bg-white text-dark my-auto fs-6" style="vertical-align: middle">DOCS</span>
      </a>
    </div>
  </nav>

  <nav class="navbar navbar-secondary">
    <div class="container-fluid">
      <div class="d-flex gap-1">
        <a class="btn btn-lg btn-opacity {% if current_page not contains '/api' %}active{% endif %}" href="/">
          <i class="bi bi-book-half me-1"></i>
          Guides
        </a>
        <a class="btn btn-lg btn-opacity {% if current_page contains '/api' %}active{% endif %}" href="/api/introduction">
          <i class="bi bi-code me-1"></i>
          API Reference
        </a>
      </div>
    </div>
  </nav>

  <div class="content-wrapper">

    <aside class="sidebar-scroll border-end">

      <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white px-sm-2 px-0 side-bar">

        <div class="overflow-auto w-100 flex-grow-1" style="scrollbar-width: none;">

          <!-- Liens de l'arbre de navigation -->
          <ul id="sidebar" class="nav nav-pills flex-column text-light mb-2 align-items-center align-items-sm-start">
            {% if current_page not contains '/api' %}
              {% render "sidebarDropdown", list: docs_dev.items, page: page %}
            {% else %}
              {% render "sidebarDropdown", list: docs_api.items, page: page %}
            {% endif %}
          </ul>

        </div>

      </div>

    </aside>

    <main class="main-scroll">

      <div class="container-fluid">

        <!-- Breadcrumb -->
        <div class="mb-4 mt-4">
          {% assign pageUrl = page.url | remove_last: '/' %}
          {% if current_page not contains '/api' %}
            {% render "breadcrumbs", list: docs_dev.items, url: pageUrl %}
          {% else %}
            {% render "breadcrumbs", list: docs_api.items, url: pageUrl %}
          {% endif %}
        </div>

        <!-- Contenu -->
        {{ content }}

      </div>

    </main>

  </div>

</div>
