---
  layout: layouts/home.liquid
---

<div class="container-fluid">
  <div class="row flex-nowrap d-flex">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 side-bar">
      <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100">
        {% render "selectVersion"
          , versions: versions %}
        <ul class="nav nav-pills flex-column text-light gap-2 mb-sm-auto mb-0 align-items-center align-items-sm-start px-3">
          {% render "sidebarDropdown"
            , list: docs_dev.items %}
        </ul>
      </div>
    </div>

    <div class="col-8 py-3">
      {{ content }}
    </div>

    {% render "mapTitles" %}
  </div>
</div>