---
layout: layouts/home.liquid
---

<div class="d-flex flex-nowrap">

  <div class="d-flex flex-column flex-shrink-0 " style="width: 280px;">

    <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100 px-sm-2 px-0 side-bar">

      <!-- Logo de metarisc -->
      <div class="page-header pb-1">
        <a class="navbar-brand" href="/">
          <img src="/img/logo.svg" alt="Metarisc" width="40" height="40">
          <span class="fs-3 fw-bold" style="vertical-align: middle">METARISC</span>
          <span class="badge bg-white text-dark my-auto fs-6" style="vertical-align: middle">DOCS</span>
        </a>
      </div>

      <!-- Choix de la version -->
      {% render "selectVersion", versions: versions %}

      <!-- Liens de l'arbre de navigation -->
      <ul id="sidebar" class="nav nav-pills flex-column text-light mb-sm-auto mb-0 align-items-center align-items-sm-start">
        {% render "sidebarDropdown", list: docs_dev.items, page: page %}
      </ul>
      
    </div>

  </div>

  <div style="flex-shrink: 0; width: 1.5rem; height: 100vh;"></div>

  <div class="d-flex flex-column flex-shrink-0" style="width: calc(100% - 280px - 1.5rem);">

    <div class="container-fluid">

      <!-- Breadcrumb -->
      <div class="mb-4 mt-4">
        {% assign pageUrl = page.url | remove_last: '/' %}
        {% render "breadcrumbs", list: docs_dev.items, url: pageUrl %}
      </div>

      <!-- Contenu -->
      {{ content }}

    </div>

  </div>

</div>