---
layout: layouts/home.liquid
---

<div class="container">

  <div class="row flex-nowrap d-flex">

    <div class="col-3 px-sm-2 px-0 side-bar">

      <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100">

        <!-- Logo de metarisc -->
        <div class="page-header pb-1">
          <a class="navbar-brand" href="/">
            <img src="/img/logo.svg" alt="Metarisc" width="40" height="40">
            <span class="fs-3 fw-bold" style="vertical-align: middle">METARISC</span>
            <span class="badge bg-white text-dark h-100 my-auto fs-6" style="vertical-align: middle">DOCS</span>
          </a>
        </div>

        <!-- Choix de la version -->
        {% render "selectVersion", versions: versions %}

        <!-- Liens de l'arbre de navigation -->
        <ul id="sidebar" class="nav nav-pills flex-column text-light mb-sm-auto mb-0 align-items-center align-items-sm-start">
          {% render "sidebarDropdown", list: docs_dev.items, page: page %}
        </ul>
        
      </div>

    </div>

    <div class="col-9 py-3 ms-3">

      <!-- Breadcrumb -->
      <div class="mb-4">
        {% assign pageUrl = page.url | remove_last: '/' %}
        {% render "breadcrumbs", list: docs_dev.items, url: pageUrl %}
      </div>

      <!-- Contenu -->
      {{ content }}

    </div>

  </div>

</div>