---
layout: layouts/base.liquid
eleventyNavigation:
  key: api
  order: 1
---

<nav class="navbar navbar-dark justify-content-between p-1" style="background-color: #36393d" id="apiurl">
  <div></div>
  <div class="ml-auto">
    <form class="form-inline">
      <select class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        {% for i in api_versions %}
        <option value="https://raw.githubusercontent.com/metarisc/openapi/refs/heads/{{ i.name }}/openapi.yaml">{{ i.name }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
</nav>

<elements-api
  style="color: black"
  apiDescriptionUrl=""
  router="hash"
  hideTryIt="true"
  logo="/img/metadome.png" />

<script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

<script>

  function switchVersion(url) {
    document.querySelector('elements-api').apiDescriptionUrl = url;
    $('#apiurl').find('option').each(function() {
      if ($(this).val() === url) {
        $(this).attr('selected', 'selected');
      } else {
        $(this).removeAttr('selected');
      }
    });
  }

  $(document).ready(function() {
    const versions = {{ api_versions | json }};
    /*
    const u = new URL(window.location.href);
    const version = u.searchParams.get("version") ?? 'main';
    const url = versions.find(v => v.name === version).version;
    */

    switchVersion("https://raw.githubusercontent.com/metarisc/openapi/refs/heads/main/openapi.yaml");

    $('#apiurl').on('change', function(event) {
      switchVersion($(this).find(":selected").val());
    });

  });
</script>