---
layout: layouts/sidebar.liquid
---

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <p class="fs-1">Bienvenue sur Metarisc</p>
    <p>
      Bienvenue sur le portail officiel de documentation de Metarisc, un portail opérationnel unique conçu en mode SaaS, disponible à tout moment et en tout lieu, permettant de collecter, enregistrer et consulter vos données de prévention et de prévision.
    </p>
    <p>
      <center>
        <img src="/img/main.png" alt="" width="650" height="450">
      </center>
    </p>
  </div>
  <div class="col-2"></div>
</div>