.btn-snow {
    border-radius: 4px !important;
    border: 1px solid rgba(255, 255, 255, 0.48) !important;
    background: rgba(255, 255, 255, 0.16) !important;
}

.bg-snow {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.24);
}

.text-lagoon {
    color: #4eb9a8
}