.navbar-main,
.navbar-secondary {
    background: #4eb9a8;
    background-size: 100% 300px;
    background-position: center top;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.btn.btn-opacity {
    color: white;
    &:hover {
        border-color: rgba(0, 0, 0, 0.2);
    }
    &.active {
        background-color: rgba(0, 0, 0, 0.2);
        border-color: rgba(0, 0, 0, 0.2);
    }
}