.side-bar {
  height: fit-content;

  a {
    color: white !important;
    text-decoration: none;
  }

  .i-arrow {
    content: url("/img/arrow-down.svg");
    height: 10px;
    color: white;
    rotate: -90deg;
    transition: all 250ms ease-out;
  }

  .category-dropdown[aria-expanded=true] {
    i {
      rotate: 0deg;
    }
  }

  li {
    list-style: none;
    margin: 2px 0;
  }

  .active-link {
    font-weight: bold;
  }
}

.page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 280px 1fr;
    min-height: 0;
}

.sidebar-scroll {
    scrollbar-width: none;
    overflow-y: auto;
}

.main-scroll {
    overflow-y: auto;
}